{% extends 'base.html.twig' %}
{% import "macro/core.twig" as core %}
{% block body %}

  Таблица всех пользователей
  <table>
  {% for item in items %}
  <tr>
    <td>Name: {{item.name | upper}}</td>
    <td>IP: {{item.ipAdr}}</td>
    <td>Id: {{item.id}} -</td>
    <td><form action="{{ path('delete_user_by_id', { 'id': item.id}) }}"
              method="POST">
        <button>delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
  </table>


  <form action="/api/genUser" method="POST">

    <p style="text-align: center"><button > Добавление пользователя</button> </p>
  </form>

  <form action="/api/genUserWithIpLog" method="POST">

    <p style="text-align: center"><button > Добавление пользователя c логами IP</button> </p>
  </form>


  <button onclick="document.location='/add2'">Переход2 по ссылке</button>
{% endblock %}

        {% block content %}
          <h1>Inherited text content1</h1>
          ************ Этот блок выполняться не будет!!!!!!!!!!!!!!!!!
          здесь использовано наследование в Twig
          после этой строки идет вызов
          <form action="/api/admin2" method="POST">

          <p style="text-align: center"><button > Добавление/удаление пользователей</button> </p>
</form>

{% endblock %}

